.commit-editor {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100vh;  
}

body{
  background-color: aliceblue;
}
.commit-message {
  flex: 1;
  margin-bottom: 10px;
  
}

.commit-message textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  resize: none;
}

.file-list {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  gap: 10px;
}

#submit, #cancel {
  padding: 6px 12px;
  cursor: pointer;
}