/* media/styles.css */

/* Базовые стили */
body {
  padding: 1em;
  font-family: sans-serif;
  background-color: #f2f4f8;
  color: #0a1f44;
}

/* Photo-компонент */
.mdx-photo {
  margin: 1em;
}
.mdx-photo img {
  display: block;
  width: 100%;
  height: auto;
}
.mdx-photo-caption {
  text-align: center;
  color: #0a1f44;
  font-size: 0.9em;
  margin-top: 0.5em;
}
/* Выравнивание */
.float-left   { float: left; }
.float-right  { float: right; }
.float-center { display: block; margin: 1em auto; }

/* Галерея */
.mdx-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5em;
  margin: 1em 0;
}
.mdx-gallery-item {
  margin: 0;
}
.mdx-gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.mdx-gallery-caption {
  text-align: center;
  color: #0a1f44;
  font-size: 0.9em;
  margin-top: 0.3em;
}

/*Видео плеер*/

.mdx-video-cover{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}
.mdx-video-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  background-color: #2e4d4d;
  text-align: center;
}

.mdx-video-player {
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 1em;
}

.mdx-video-link {
  display: inline-block;
  position: relative;
}

.mdx-video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdx-video-play-icon span {
  display: block;
  width: 0;
  height: 0;
  border-left: 18px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.6));
}

/* Видео галерея */
.mdx-video-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5em;
  margin: 1em 0;
}
.mdx-video-gallery-item {
  margin: 0;
}
.mdx-video-gallery img {
  width: 100%;
  height: auto;
  display: block;
}
.mdx-video-gallery-caption {
  text-align: center;
  color: #0a1f44;
  font-size: 0.9em;
  margin-top: 0.3em;
}