<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <style>{{styles}}</style>
</head>
<body>

  {{#if error}}
    <div class="mdx-error">
      <h3>Ошибка рендеринга</h3>
      <p>{{error}}</p>
    </div>
  {{else}}
    {{md content}}
  {{/if}}
</body>
</html>