<div class="mdx-video-gallery gallery-base cols-3">
  {{#each videos}}
  <div class="mdx-video-gallery-item">
    <div class="media-wrapper aspect-ratio-16-9">
      <a href="{{url}}" target="_blank" class="mdx-video-link">
        {{#if coverIsSet}}
        <img src="{{cover}}" alt="Cover">
        {{else}}
        <div class="mdx-video-placeholder"></div>
        {{/if}}
        <div class="mdx-video-play-icon">
          <span class="play-circle"></span>
          <span class="play-triangle"></span>
        </div>
      </a>
    </div>
    {{#if hasCaption}}<div class="mdx-video-gallery-caption">{{caption}}</div>{{/if}}
  </div>
  {{/each}}
</div>